/*
fonts.css by the St. Mark's School of Texas Robotics Team
For use with the SM Robotics Team 2014 BEST Exhibit. This file adds nicer fonts to the web GUI.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

@font-face {
    font-family: 'Droid Sans';
    src: url('/assets/fonts/DroidSans-regular.eot');
    src: url('/assets/fonts/DroidSans-regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/DroidSans-regular.woff') format('woff'),
         url('/assets/fonts/DroidSans-regular.ttf') format('truetype'),
         url('/assets/fonts/DroidSans-regular.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Sans';
    src: url('/assets/fonts/DroidSans-bold.eot');
    src: url('/assets/fonts/DroidSans-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/DroidSans-bold.woff') format('woff'),
         url('/assets/fonts/DroidSans-bold.ttf') format('truetype'),
         url('/assets/fonts/DroidSans-bold.svg#droid_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Sans Mono';
    src: url('/assets/fonts/DroidSansMono-regular.eot');
    src: url('/assets/fonts/DroidSansMono-regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/DroidSansMono-regular.woff') format('woff'),
         url('/assets/fonts/DroidSansMono-regular.ttf') format('truetype'),
         url('/assets/fonts/DroidSansMono-regular.svg#droid_sans_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}